bin/
tmp/
*.idea/
*.pydevproject
*.pyd
*.pyc
.DS_Store
__pycache__
sql/
*.Cache
Thumbs.db
$RECYCLE.BIN/
Desktop.ini
conf/eula_run.conf

# Egg
logo/


*.py[co]
# Packages
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg

# Installer logs
pip-log.txt
